html {
    touch-action: manipulation;
}

* {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.item {
    height: 30vw;
    width: 30vw;
    max-height: 150px;
    max-width: 150px;
}

.btn {
    border: solid;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canvas {
    width: 100vw;
}

body {
    margin: 0px;
}